<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Workspaces</h1>
</div>

<div *ngIf="error" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error ! </strong> .
</div>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success ! </strong> Dashboard deleted successfully.
</div>
<br>
<div class="u-tabs u-tabs-1">
   
  <ul class="u-tab-list u-unstyled" role="tablist">
    
      <li class="u-tab-item" role="presentation">
        <a class="active u-active-white u-button-style u-tab-link u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Workspaces</a>
      </li>
      
      <li class="u-tab-item" role="presentation">
        <a class="u-active-white u-button-style u-tab-link u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">Assign</a>
      </li>
     
    </ul>

    <div class="u-tab-content">
      <div class="u-align-left u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
        <div class="u-container-layout u-container-layout-8">
            <div class="col-md-6">
              
              <app-tenant-details></app-tenant-details>

            </div>
        </div>
        <!-- <app-tenants-has-persons></app-tenants-has-persons> -->
      </div>
      
      
      <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
        <div class="u-container-layout u-container-layout-10">
          <div class="form-area">

           
            
            <h2>Assign workspace to users:</h2>
            
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
              <mat-step >
                <form class="example-form" #tenantForm="ngForm">
                  <ng-template matStepLabel>Please select a workspace</ng-template>
                  <mat-form-field appearance="fill">
                    
                    <mat-select name="my-selectt" [(ngModel)]="mySelectTenant" (selectionChange)="selectChangeTenant()">
                      <mat-option [value]="itemt.ccC_WorkspaceId" *ngFor="let itemt of t">
                          {{itemt.ccC_Name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <ng-container >
                    <div class="hide">
                        Selected :
                        <ul>
                            <li *ngFor="let SelValT of selectedValueTenant">{{SelValT.ccC_Name}}</li>
                        </ul>
                    </div>
                  </ng-container>
                  <ng-template #elseTemplateT>
                    <div>
                        Selected:{{selectedValueTenant}} 
                    </div>
                  </ng-template>
                  <div>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>

              </mat-step>
              <mat-step >
                <form >
                  <ng-template matStepLabel>Select which users will be assigned to the selected workspace</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select name="my-selectt" [(ngModel)]="mySelectAADUser" (selectionChange)="selectChangeAADUser()" multiple="multiple" >
                   
                        <mat-option [value]="itemu.uiD_Person" *ngFor="let itemu of u">
                            {{itemu.displayName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <ng-container >
                      <div>
                          Selected :
                          <ul>
                              <li *ngFor="let SelValU of selectedValueAADUser">{{SelValU.displayName}}</li>
                          </ul>
                      </div>
                    </ng-container>
                    <ng-template #elseTemplateT>
                      <div>
                          Selected:{{selectedValueAADUser}} 
                      </div>
                    </ng-template>
                    <mat-step >
                      <ng-template matStepLabel>Select which permission </ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Select an option</mat-label>  
                      <mat-select name="users" [(ngModel)]="mySelectAccessRight" (selectionChange)="selectChangeAccessRight()" > 
                        <mat-option [value]="varTest1.name" *ngFor="let varTest1 of AccessRights">{{varTest1.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <ng-container >
                      <div class="hide">
                          Selected :
                          <ul>
                              <li *ngFor="let SelValUser of selectedAccessRight">{{SelValUser.name}}</li>
                          </ul>
                      </div>
                    </ng-container>
                  
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="AddAdmin(tenantForm.value.SelValT,tenantForm.value.SelValU,tenantForm.value.SelValUser)">Confirm</button>
                  </div>
                </mat-step>
                </form>
              </mat-step>
            </mat-stepper>
        </div>
      </div>
      </div>
    </div>