table {
    width: 200%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
.material-icons{ 
  font-size: 30px;color: 
    #0091f1f5 }