
  <h2 class="dash" >Dashboards</h2>
  <br>

<div *ngIf="error" class="alert alert-success alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error ! </strong> .
</div>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success ! </strong> Dashboard created successfully.
</div>

<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step >
    <form class="example-form" #tenantForm="ngForm">
      <ng-template matStepLabel>Fill out your Dashboard name</ng-template>
      <mat-form-field class="mat-form" appearance="fill">
        <mat-label>Dashboard Name</mat-label>
        <input [(ngModel)]="e" name="tName" matInput placeholder="Ex. Dashboard 01" value="">
      </mat-form-field>
      <div>
        <button style="color: #05aadb" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Select which workspace the Dashboard will be created in</ng-template>
      <mat-form-field  appearance="fill">
        
        <mat-select name="my-selectt" [(ngModel)]="mySelectTenant" (selectionChange)="selectChangeTenant()">
          <mat-option [value]="itemt.ccC_WorkspaceId" *ngFor="let itemt of t">
              {{itemt.ccC_Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button style="color: #05aadb" mat-button (click)="createDash(tenantForm.value.SelValT,tenantForm.value.e)" >Confirm</button>
      </div>
    </form>
  </mat-step>
  
</mat-stepper>


