<nav>
    <div class="sidebar-top">
      <h3 class="hide">OIAnalytics</h3>
    </div>

    <div class="sidebar-links">
      <ul>
        <div class="active-tab"></div>
        <li class="tooltip-element" data-tooltip="0">
          <a href="/tenant" class="active" data-active="0">
            <div class="icon">
              <img class="img" id="workspace" src="../../assets/Workspace.svg" /> 
            </div>
            <span class="link hide">Workspaces</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="1">
          <a href="/Dashboards" data-active="1">
            <div class="icon">
              <img class="img" src="../../assets/Dashboard.svg" />
            </div>
            <span class="link hide">Dashboards</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="2">
          <a href="#" data-active="2">
            <div class="icon">
              <img class="img" src="../../assets/Report.svg" />
            </div>
            <span class="link hide">Reports</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="3">
          <a href="/GroupUsers" data-active="3">
            <div class="icon">
              <i class='bx bx-bar-chart-square'></i>
              <i class='bx bxs-bar-chart-square'></i>
            </div>
            <span class="link hide">Analytics</span>
          </a>
        </li>
        
      </ul>

      <h4 class="hide">Shortcuts</h4>

      <ul>
        <li class="tooltip-element" data-tooltip="0">
          <a href="#" data-active="4">
            <div class="icon">
              <i class='bx bx-notepad'></i>
              <i class='bx bxs-notepad'></i>
            </div>
            <span class="link hide">Tasks</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="1">
          <a href="#" data-active="5">
            <div class="icon">
              <i class='bx bx-help-circle'></i>
              <i class='bx bxs-help-circle'></i>
            </div>
            <span class="link hide">Help</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="2">
          <a href="#" data-active="6">
            <div class="icon">
              <i class='bx bx-cog'></i>
              <i class='bx bxs-cog'></i>
            </div>
            <span class="link hide">Settings</span>
          </a>
        </li>
        <div class="tooltip">
          <span class="show">Tasks</span>
          <span>Help</span>
          <span>Settings</span>
        </div>
      </ul>
    </div>

  </nav>
